<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativescreenaudiorecorder">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
      <service android:name=".ScreenAudioRecorderService" android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
